<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>ABM Marca</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <section class="min-vh-100">
    <!--Parte superior-->
    <div>
      <nav th:replace="~{plantillas/formatoUsuario :: nav}"></nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary py-2 px-4" data-bs-theme="dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/nuevaMarca}" role="button">
              Nueva marca
              </a>
            </li>
          </ul>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a th:href="@{/gestionAdministrador}" class="nav-link">Volver</a>
            </li>
        </div>
      </nav>
    </div>
    <!-- tabla -->
    <section class="fotoPortada1 flex-fill">
      <div class = "container">
        <div class = "row">
            <h2>Lista de marcas</h2>
        </div>
        <table class="table table-striped table-bordered w-50">
          <thead class="table-dark  opacity-75">
            <tr class="text-center">
              <th class="w-25 center">Id</th>
              <th class="w-25">Marca</th>
              <th class="w-50">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class = "opacity-80 text-center" th:each = "marca : ${marcas}">
              <td th:text = "${marca.idMarca}">Id</td>
              <td th:text = "${marca.nombreMarca}">Marca</td>
              <td class="d-flex justify-content-center gap-3">
                <a th:href="@{/formularioMarca/{id}(id = ${marca.idMarca})}" class="btn btn-warning">Modificar</a>
                <a th:href="@{/eliminarMarca/{id}(id = ${marca.idMarca})}" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>     
    <footer>
      <div th:replace="~{plantillas/formatoUsuario :: foot}" class="d-flex"></div>   
    </footer>
  </section>
</body>
</html>
