<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/alquiler/src/main/resources/static/estilos.css">
    <title>Document</title>
</head>
<body>
    <h1>SIXT ARGENTINA</h2>
        <img src="/alquiler/src/main/resources/static/IMG/Foto portada.webp" alt="foto de portada" class = "portada">
        <div class="navBar">
          <ul>
              <li>
              <div class="dropdown">
                  <button>Usuarios</button>
                  <div class="dropdown-menu">
                      <a href="#opcion3">Listar usuarios</a>
                      <a href="#opcion1">Alta de usuario</a>
                      <a href="#opcion2">Modificación de usuario</a>
                      <a href="#opcion3">Baja de usuario</a>
                  </div>
              </div>
              </li>
              <li>
                <div class="dropdown">
                    <button>Vehículos</button>
                    <div class="dropdown-menu">
                        <a href="#opcion3">Listar vehiculos de la empresa</a>
                        <a href="#opcion1">Alta de vehiculo</a>
                        <a href="#opcion2">Modificación de vehículo</a>
                        <a href="#opcion3">Baja de vehículo</a>
                        <a href="#opcion3">Ver vehiculos a repatriar???</a>
                    </div>
                </div>
                </li>
            </ul>
                  <div>
                      <button class="cerrar">Cerrar sesión</button>
                  </div>
          
      </div>
</body>
</html>