<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Editar Cliente</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <section class="min-vh-100">
    <!--Parte superior-->
    <div>
      <nav th:replace="~{plantillas/formatoUsuario :: nav}"></nav>
      <nav th:replace="~{plantillas/plVendedor :: navVendedor}"></nav>
    </div>
    <section class="fotoPortada1 flex-fill">
      <form class="p-4 transparente rounded-4 w-25 mx-auto mt-4 mb-4" th:action="@{/actualizarCliente/{id}(id=${cliente.codigo})}"
        th:object="${cliente}" method="post" onsubmit="return confirmarEnvio()">
        <div class="text-center mb-4">
          <h5>Modifica los datos del cliente</h5>
          <p th:text="${mensaje}" class="text-danger"></p>
        </div>


        <div class="col-12 mb-2">
          <label for="inputText" class="form-label">Nombre</label>
          <input type="text" th:value="${cliente.nombre}" th:field="*{nombre}" class="form-control"
            placeholder="Ingrese nombre del Cliente">
        </div>

        <div class="col-12 mb-2">
          <label for="inputAddress1" class="form-label">Dirección</label>
          <input type="text" th:value="${cliente.direccion}" th:field="*{direccion}" class="form-control"
            id="inputAddress1" placeholder="Ingrese Dirección">
        </div>

        <div class="col-12 mb-2">
          <label for="inputEmail4" class="form-label">EMAIL</label>
          <input type="text" th:value="${cliente.email}" th:field="*{email}" class="form-control" id="inputEmail4"
            placeholder="Ingrese Email">
        </div>
        <div class="row g-3 mb-2">
          <div class="col-6">
            <label for="inputText" class="form-label">DNI</label>
            <input type="text" th:value="${cliente.dni}" th:field="*{dni}" class="form-control"
              placeholder="Ingrese DNI">
          </div>
          <div class="col-6">
            <label for="inputText" class="form-label">Teléfono</label>
            <input type="text" th:value="${cliente.telefono}" th:field="*{telefono}" class="form-control"
              placeholder="Ingrese Teléfono">
          </div>
        </div>

        <div class="mt-4 text-center col-12">
          <button type="submit" class="btn" style="background-color: #FF7900;">Modificar</button>
        </div>


      </form>
    </section>
    <footer>
      <div th:replace="~{plantillas/formatoUsuario :: foot}" class="d-flex"></div>
    </footer>
  </section>
</body>
<script>
  function confirmarEnvio() {
    return confirm("¿Estás seguro de que querés enviar el formulario?");
  }
</script>

</html>