<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/alquiler/src/main/resources/static/estilos.css">
    <title>Document</title>
</head>
<body>
    <h1>SIXT ARGENTINA</h2>
        <img src="/alquiler/src/main/resources/static/IMG/Foto portada.webp" alt="foto de portada" class = "portada">
        <div class="navBar">
            <ul>
                <li>
                <div class="dropdown">
                    <button>Clientes</button>
                    <div class="dropdown-menu">
                        <a href="#opcion3">Alta nuevo cliente</a>
                        <a href="#opcion1">Listar clientes</a>
                        <a href="#opcion2">Modificar datos de cliente</a>
                        <a href="#opcion3">Baja de cliente</a>
                    </div>
                </div>
                </li>
                <li>
                  <div class="dropdown">
                      <button>Reservas</button>
                      <div class="dropdown-menu">
                          <a href="#opcion3">Cargar reserva</a>
                          <a href="#opcion1">Entregar vehículo</a>
                          <a href="#opcion2">Recibir vehículo</a>
                      </div>
                  </div>
                  </li>
              </ul>
                    <div>
                        <button class="cerrar">Cerrar sesión</button>
                    </div>
            
        </div>
</body>
</html>