<!DOCTYPE html>
<html  xmlns:th= "http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/alquiler/src/main/resources/static/estilos.css">
    <title>Document</title>
</head>
<body>
    <h1>SIXT ARGENTINA</h2>
        <img src="/alquiler/src/main/resources/static/IMG/Foto portada.webp" alt="foto de portada" class = "portada">
        <div class="navBar">
            <ul>
                <li>
                    <div class="dropdown">
                        <button>Mis datos</button>
                        <div class="dropdown-menu">
                            <a href="#opcion1">Modificar mis datos</a>
                        </div>
                    </div>
                    </li>
                <li>
                <div class="dropdown">
                    <button>Mis reservas</button>
                    <div class="dropdown-menu">
                        <a href="#opcion3">Consultar reservas propias</a>
                        <a href="#opcion1">Modificar reserva</a>
                        <a href="#opcion2">Cancelar reserva</a>
                    </div>
                </div>
                </li>
              </ul>
                    <div>
                        <button class="cerrar">Cerrar sesión</button>
                    </div>
            
        </div>    
</body>
</html>