<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/estiloVendedor.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Vendedor</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <section class="card bg min-vh-100">
        <!-- Inicio de Navbar -->

        <nav th:fragment="navVendedor" class="navbar navbar-expand-lg bg-body-tertiary py-2 px-4" data-bs-theme="dark">

            
                <div class ="container-fluid d-flex">
                    <div class="ms-auto">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a th:href="@{/gestionVendedor}" class="nav-link">Volver</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
        </nav>
        <!-- Fin de Navbar -->
    </section>

</body>

</html>